*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Prompt:ital,wght@1,300&display=swap');

/*PÁGINA PRINCIPAL*/

body{
    background-color: white;
}

header{
    background-image: url("../assets/img/fondo-grande.png");
    height: 900px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 100px);
}

header h1{
    font-size: 70px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-column-start: 8;
    grid-row-start: 3;
}

header h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: #000000;
    width: 300px;
    height: 45px;
    display: grid;
    grid-column-start: 9;
    grid-row-start: 4;
}

header nav{
    background-color:#4593af;
    width: 1903px;
    height: 50px;
    word-spacing: 5rem;
    grid-row-start: 6;
    grid-row-end: 12;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(1, 50px);
}

header nav ul{
    word-spacing: 5rem;
    grid-column-start: 7;
    grid-column-end: 12;
    width: 800px;
    padding-top: 0.5rem;
}

.button-1{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-1:hover{
    color: rgb(243, 178, 0);
    font-size: 20px;
}

.button-2{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-2:hover{
    color: rgb(243, 178, 0);
    font-size: 20px;
}

.button-3{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-3:hover{
    color: rgb(243, 178, 0);
    font-size: 20px;
}

.button-4{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-4:hover{
    color: rgb(243, 178, 0);
    font-size: 20px;
}

.quienes-somos{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 100px);
}

.quienes-somos h3{
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #DBFF00;
    text-align: center;
    height: 5rem;
    width: 500px;
    grid-column-start: 8;
    grid-row-start: 7;
}

.quienes-somos p{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    height: 300px;
    text-decoration: solid;
    text-align: center;
    width: 900px;
    font-weight: bold;
    display: grid;
    grid-row-start: 8;
    grid-column-start: 6;
}

.consejos-cuidado{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(1, 50px);
}

.consejos-cuidado h2{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    height: 50px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    padding: 5px 0px 0px 0px;
    width: 1903px;
    background-color:#4593af;
    display: grid;
}

main{
    background-image: url("../assets/img/fondo-celular.png");
    background-repeat: no-repeat;
}

.cuidado-bateria{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(12, 50px);
}

.bateria-icon{
    display: grid;
    background-color: #4592af;
    height: 150px;
    width: 200px;
    height: 200px;
    margin-left: 850px;
    margin-top: 50px;
    padding: 25px 0px 0px 30px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    display: block;
}

.cuidado-bateria h2{
    font-family: 'Prompt', sans-serif;
    height: 50px;
    width: 420px;
    font-size: 25px;
    text-align: center;
    padding: 25px 0px 0px 0px;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 6;
    text-decoration:underline;
    text-decoration-style: double;
}

.cuidado-bateria ol{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 8;
    text-align: center;
}

.telefono-icon{
    background-color: #4592af;
    width: 200px;
    height: 200px;
    margin-left: 850px;
    margin-top: -100px;
    padding: 25px 20px 20px 50px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
}

.cuidado-pantalla{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(7, 50px);
}

.cuidado-pantalla h2{
    font-family: 'Prompt', sans-serif;
    height: 50px;
    width: 420px;
    font-size: 25px;
    text-align: center;
    padding: 25px 0px 0px 0px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    text-decoration:underline;
    text-decoration-style: double;
}

.cuidado-pantalla ol{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 8;
    text-align: center;
}

.grid-instagram{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(4, 50px);
}

.grid-instagram h2{
    font-family: 'Prompt', sans-serif;
    height: 100px;
    width: 600px;
    grid-column-start: 6;
}

.instagram-link{
    display: grid;
    height: 160px;
    grid-column-start: 5;
    grid-row-start: 1;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(3, 50px);
    background-color: #4592af;
}

.grid-footer p{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    font-size: 20px;
}  

@media (max-width:768px){
    header{
        background-image: url("../assets/img/fondo-grande.png");
        height: 600px;
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
        background-position: right;
    }
    header h1{
        font-size: 40px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        display: grid;
        grid-column-start: 6;
        grid-row-start: 3;
    }
    header h2{
        font-size: 15px;
        text-align: center;
        font-family: 'Michroma', sans-serif;
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
        color: #000000;
        width: 300px;
        height: 45px;
        display: grid;
        grid-column-start: 6;
        grid-row-start: 4;
    }
    header nav{
        background-color:#4593af;
        width: 768px;
        height: 40px;
        word-spacing: 5rem;
        grid-row-start: 6;
        grid-row-end: 12;
        display: grid;
        grid-template-columns: repeat(12, 100px);
        grid-template-rows: repeat(1, 50px);
    }
    header nav ul{
        word-spacing: 4rem;
        grid-column-start: 2;
        grid-column-end: 12;
        width: 768px;
    }
    .button-1{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-1:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-2{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-2:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-3{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-3:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-4{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-4:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .quienes-somos{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
    }
    .quienes-somos h3{
        font-family: 'Prompt', sans-serif;
        font-size: 30px;
        text-shadow: 1px 2px 1px #DBFF00;
        text-align: center;
        height: 2rem;
        width: 400px;
        grid-column-start: 5;
        grid-row-start: 8;
    }
    .quienes-somos p{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 130px;
        text-decoration: solid;
        text-align: center;
        width: 768px;
        font-weight: bold;
        display: grid;
        grid-row-start: 9;
        grid-column-start: 1;
        background-color: rgba(255, 255, 255, 0.233);
    }
    .consejos-cuidado{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(1, 50px);
    }
    .consejos-cuidado h2{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 50px;
        width: 768px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
        text-align: center;
        padding: 8px 0px 0px 0px;
        background-color:#4593af;
        display: grid;
    }
    main{
        background-image: url("../assets/img/fondo-celular.png");
        background-repeat: no-repeat;
        width: 768px;
    }
    .cuidado-bateria{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
    }
    .bateria-icon{
        display: grid;
        background-color: #4592af;
        height: 150px;
        width: 200px;
        height: 200px;
        margin-left: 15rem;
        margin-top: 30px;
        padding: 25px 0px 0px 30px;
        border-style: solid;
        border-color: black;
        box-shadow: 0px 0px 15px black;
        border-radius: 50%;
        display: block;
        grid-column-start: 2;
    }
    .cuidado-bateria h2{
        font-family: 'Prompt', sans-serif;
        height: 30px;
        width: 420px;
        font-size: 25px;
        text-align: center;
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 5;
        padding-top: 30px;
        text-decoration:underline;
        text-decoration-style: double;
    }
    .cuidado-bateria ol{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        width: 420px;
        height: 200px;
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 7;
        text-align: center;
    }
    .telefono-icon{
        background-color: #4592af;
        width: 200px;
        height: 200px;
        margin-left: 18rem;
        margin-top: -100px;
        padding: 25px 20px 20px 50px;
        border-style: solid;
        border-color: black;
        box-shadow: 0px 0px 15px black;
        border-radius: 50%;
    }
    .cuidado-pantalla{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(10, 50px);
    }
    .cuidado-pantalla h2{
        font-family: 'Prompt', sans-serif;
        height: 50px;
        width: 420px;
        font-size: 30px;
        text-align: center;
        padding: 25px 0px 0px 0px;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        text-decoration:underline;
        text-decoration-style: double;
    }
    .cuidado-pantalla ol{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        grid-column-start: 6;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 9;
        text-align: center;
    }
    .grid-instagram{
        display: grid;
        grid-template-columns: repeat(12, 150px);
        grid-template-rows: repeat(12, 30px);
        width: 768px;
    }
    .grid-instagram h2{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 100px;
        width: 300px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
    }
    .instagram-link{
        display: grid;
        height: 160px;
        grid-column-start: 2;
        grid-row-start: 7;
    }
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(3, 50px);
        background-color: #4592af;
        width: 768px;
    }
    .grid-footer p{
        grid-column-start: 3;
        grid-column-end: 14;
        grid-row-start: 2;
        font-size: 15px;
    }  
}

@media (max-width:375px){
    header{
        background-image: url("../assets/img/fondo-grande.png");
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
        background-position: center;
    }
    header h1{
        font-size: 65px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        display: grid;
        grid-column-start: 3;
        grid-row-start: 2;
    }
    header h2{
        font-size: 25px;
        text-align: center;
        font-family: 'Michroma', sans-serif;
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
        color: #000000;
        width: 300px;
        height: 45px;
        display: grid;
        grid-column-start: 5;
        grid-row-start: 4;
    }
    header nav{
        background-color:#4593af;
        width: 375px;
        height: 40px;
        word-spacing: 3rem;
        grid-row-start: 6;
        grid-row-end: 12;
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(1, 50px);
    }
    header nav ul{
        word-spacing: 0.5rem;
        grid-column-start: 5;
        grid-column-end: 12;
        width: 375px;
    }
    .button-1{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-1:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-2{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-2:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-3{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-3:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .button-4{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
    }
    .button-4:hover{
        color: rgb(243, 178, 0);
        font-size: 15px;
    }
    .quienes-somos{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
    }
    .quienes-somos h3{
        font-family: 'Prompt', sans-serif;
        font-size: 30px;
        text-shadow: 1px 2px 1px #DBFF00;
        text-align: center;
        height: 2rem;
        width: 400px;
        grid-column-start: 5;
        grid-row-start: 8;
    }
    .quienes-somos p{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 130px;
        text-decoration: solid;
        text-align: center;
        width: 768px;
        font-weight: bold;
        display: grid;
        grid-row-start: 9;
        grid-column-start: 1;
        background-color: rgba(255, 255, 255, 0.233);
    }
    .consejos-cuidado{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(1, 50px);
    }
    .consejos-cuidado h2{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 50px;
        width: 768px;
        color: #bbff00;
        text-shadow: 2px 2px 1px black;
        text-align: center;
        padding: 8px 0px 0px 0px;
        background-color:#4593af;
        display: grid;
    }
    main{
        background-image: url("../assets/img/fondo-celular.png");
        background-repeat: no-repeat;
        width: 768px;
    }
    .cuidado-bateria{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(12, 50px);
    }
    .bateria-icon{
        display: grid;
        background-color: #4592af;
        height: 150px;
        width: 200px;
        height: 200px;
        margin-left: 15rem;
        margin-top: 30px;
        padding: 25px 0px 0px 30px;
        border-style: solid;
        border-color: black;
        box-shadow: 0px 0px 15px black;
        border-radius: 50%;
        display: block;
        grid-column-start: 2;
    }
    .cuidado-bateria h2{
        font-family: 'Prompt', sans-serif;
        height: 30px;
        width: 420px;
        font-size: 25px;
        text-align: center;
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 5;
        padding-top: 30px;
        text-decoration:underline;
        text-decoration-style: double;
    }
    .cuidado-bateria ol{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        width: 420px;
        height: 200px;
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 7;
        text-align: center;
    }
    .telefono-icon{
        background-color: #4592af;
        width: 200px;
        height: 200px;
        margin-left: 18rem;
        margin-top: -100px;
        padding: 25px 20px 20px 50px;
        border-style: solid;
        border-color: black;
        box-shadow: 0px 0px 15px black;
        border-radius: 50%;
    }
    .cuidado-pantalla{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(10, 50px);
    }
    .cuidado-pantalla h2{
        font-family: 'Prompt', sans-serif;
        height: 50px;
        width: 420px;
        font-size: 30px;
        text-align: center;
        padding: 25px 0px 0px 0px;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        text-decoration:underline;
        text-decoration-style: double;
    }
    .cuidado-pantalla ol{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        grid-column-start: 6;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 9;
        text-align: center;
    }
    .grid-instagram{
        display: grid;
        grid-template-columns: repeat(12, 150px);
        grid-template-rows: repeat(12, 30px);
        width: 768px;
    }
    .grid-instagram h2{
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        height: 100px;
        width: 300px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
    }
    .instagram-link{
        display: grid;
        height: 160px;
        grid-column-start: 2;
        grid-row-start: 7;
    }
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        grid-template-rows: repeat(3, 50px);
        background-color: #4592af;
        width: 768px;
    }
    .grid-footer p{
        grid-column-start: 3;
        grid-column-end: 14;
        grid-row-start: 2;
        font-size: 15px;
    }  
}

/* CONTACTANOS */

.body-contacto{
    background-image: url("../assets/img/fondo-planeta.png");
    background-repeat: no-repeat;
    height: 1000px;
}

.body-contacto h1{
    background-color:#4592af;
    height: 70px;
    text-align: center;
    display: grid;
    font-size: 40px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
}

.mensaje-contacto{
    display: grid;
    grid-template-columns: repeat(12, 160px);
    grid-template-rows: repeat(9, 100px);
}

.mensaje-contacto form{
    grid-column-start: 6;
}

.aqui-nombre{

}
.aqui-mail{

}
.aqui-telefono{

}
.aqui-asunto{

}
.aqui-mensaje{

}

.navegacion-pages-contactanos{
    background-color: #4592af;
    height: 70px;
    text-decoration: none;
    text-align: center;
    word-spacing: 5rem;
    padding-top: 1rem;
}

.button-1-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-1-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-2-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-2-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-3-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-3-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-4-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-4-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

/* NOSOTROS */

.nosotros-titulo{
    background-color: #4592af;
    height: 70px;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 20px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
}

.informacion-nosotros{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(24, 50px);
}

.informacion-nosotros h2{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 2;
    grid-column-start: 6;
}

.informacion-nosotros h3{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 4;
    grid-column-start: 6;
}

.herramientas-fotos{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(12, 70px);
}

.img-batea{
    grid-row-start: 5;
    grid-column-start: 3;
}

.img-estacion{
    grid-row-start: 5;
    grid-column-start: 10;
}

.img-estaño{
    grid-row-start: 12;
    grid-column-start: 10;
    padding-left: 50px;
}

.img-plancha{
    grid-row-start: 6;
    grid-column-start: 6;
    padding-left: 30px;
}

.img-pegamento{
    grid-row-start: 12;
    grid-column-start: 3;
    padding-left: 30px;
}

.img-fuente{
    grid-row-start: 12;
    grid-column-start: 6;
    padding-left: 50px;
}

.navegacion-pages-nosotros{
    background-color:#4592af;
    word-spacing: 5rem;
    text-align: center;
    height: 70px;
    padding-top: 1rem;
}

.button-1-inicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-1-inicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-2-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-2-contacto:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-3-servicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-3-servicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-4-galeria{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-4-galeria:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}

.titulo-batea{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: 8;
    grid-column-start: 3;
    padding: 30px 0px 100px 0px;
}
.titulo-estacion{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-estaño{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-plancha{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-pegamento{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-fuente{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}

/* SERVICIO TECNICO */

.header-servicio{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 50px);
}

.header-servicio h1{
    grid-row-start: 3;
}

.header-servicio h2{
    width: 500px;
    grid-row-start: 5;
    grid-column-start: 8;
    font-size: 25px;
}

.main-servicio{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(5, 40px);
}

.main-servicio h3{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h4{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h2{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.apple-icon{
    grid-column-start: 8;
    grid-row-start: 3;
}

.android-icon{
    grid-column-start: 12;
    grid-row-start: 3;
}