*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Prompt:ital,wght@1,300&display=swap');

/*PÁGINA PRINCIPAL*/

.navbar{
    background-color: #4592af;
    box-shadow: 0px 0px 5px rgb(114, 114, 114);
}

.nav-link{
    color: #bbff00;
}

.navbar-brand{
    color: black;
    font-weight: 700;
}

header{
    background-image: url(../assets/img/fondo-rustico.png);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 50px);
    box-shadow: 0px 0px 5px rgb(114, 114, 114);
}

header h1{
    background-color: rgb(0, 0, 0);
    height: 6rem;
    width: 33rem;
    border-radius: 1rem;
    border-style: solid;
    border-color:#4592af; 
    box-shadow: 6px 5px 1px #4592af; 
    font-size: 70px;
    color: #bbff00;
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-column-start: 8;
    grid-row-start: 2;
}

.carousel{
    box-shadow: 0px 0px 5px black;
    border:#000000;    
    padding: 1rem 1rem 1rem 1rem;
    background-color: #0c213f;
}

.quienes-somos{
    padding: 50px 130px 50px 700px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-image: url(../assets/img/fondo-rz.png);
}

.accordion-body{
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
}

.accordion-button{
    font-size: 20px;
    background-color: #4593af41;
    padding-left: 1rem;
    font-family: 'Prompt', sans-serif;
}

.footer-index{
    background-color: #4593af65;
    height: 150px;
    line-height: 20px;
    font-weight: bold;
    display: flex;
}

.informacion-footer{
    padding: 30px 0px 0px 200px;
}

.footer-nav{
    padding: 55px 0px 0px 800px;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}

@media (max-width:768px){
        
    .navbar{
        width: 768px;
        background-color: #4592af;
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }

    .nav-link{
        width: 768px;
        color: #bbff00;
    }
    
    .navbar-brand{
        height: 30px;
        width: 768px;
        color: #bbff00;;
        font-weight: 700;
    }
    
    header{
        background-image: url(../assets/img/fondo-rustico.png);
        background-color: white;
        display: grid;
        height: 100px;
        grid-template-columns: repeat(6, 50px);
        grid-template-rows: repeat(4, 25px);
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }
    
    header h1{
        background-color: rgb(0, 0, 0);
        height: 3rem;
        width: 15rem;
        border-radius: 1rem;
        border-style: solid;
        border-color:#4592af; 
        box-shadow: 3px 3px 1px #4592af; 
        font-size: 30px;
        color: #bbff00;
        font-family: 'Michroma', sans-serif;
        display: grid;
        grid-column-start: 6;
        grid-row-start: 2;
    }
    
    .carousel{
        box-shadow: 0px 0px 5px black;
        border:#000000;    
        padding: 1rem 1rem 1rem 1rem;
        background-color: #0c213f;
        font-size: 15px;
    }

    .carousel-inner h5{
        font-size: 15px;   
    }
    
    .quienes-somos{
        padding: 50px 150px 50px 150px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        background-image: url(../assets/img/fondo-rustico.png);
    }
    
    .accordion-body{
        font-size: 15px;
        font-family: 'Prompt', sans-serif;
    }
    
    .accordion-button{
        font-size: 15px;
        background-color: #4593af41;
        padding-left: 1rem;
        font-family: 'Prompt', sans-serif;
    }
    
    .footer-index{
        background-color: #4593af65;
        height: 200px;
        line-height: 20px;
        font-weight: bold;
        display: flex;
    }
    
    .informacion-footer{
        padding: 30px 0px 0px 200px;
    }
    
    .footer-nav{
        padding: 55px 0px 0px 100px;
        text-shadow: 1px 1px 1px black;
        font-size: 20px;
    }
}

@media (max-width:425px){
        
    .navbar{
        width: 425px;
        background-color: #4592af;
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }

    .nav-link{
        width: 425px;
        color: #bbff00;
    }
    
    .navbar-brand{
        height: 30px;
        width: 425px;
        color: #bbff00;;
        font-weight: 700;
    }
    
    header{
        background-image: url(../assets/img/fondo-rustico.png);
        background-color: white;
        display: grid;
        height: 100px;
        grid-template-columns: repeat(6, 25px);
        grid-template-rows: repeat(4, 25px);
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }
    
    header h1{
        background-color: rgb(0, 0, 0);
        height: 3rem;
        width: 16rem;
        border-radius: 1rem;
        border-style: solid;
        border-color:#4592af; 
        box-shadow: 3px 3px 1px #4592af; 
        font-size: 33px;
        color: #bbff00;
        font-family: 'Michroma', sans-serif;
        display: grid;
        grid-column-start: 4;
        grid-row-start: 2;
    }
    
    .carousel{
        box-shadow: 0px 0px 5px black;
        border:#000000;    
        padding: 1rem 1rem 1rem 1rem;
        background-color: #0c213f;
        font-size: 15px;
    }

    .carousel-inner h5{
        font-size: 15px;   
    }
    
    .quienes-somos{
        padding: 50px 50px 50px 50px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        background-image: url(../assets/img/fondo-rustico.png);
    }
    
    .accordion-body{
        font-size: 15px;
        font-family: 'Prompt', sans-serif;
    }
    
    .accordion-button{
        font-size: 15px;
        background-color: #4593af41;
        padding-left: 1rem;
        font-family: 'Prompt', sans-serif;
    }
    
    .footer-index{
        background-color: #4593af65;
        height: 200px;
        line-height: 20px;
        font-weight: bold;
        display: flex;
    }
    
    .informacion-footer{
        padding: 30px 0px 0px 50px;
    }
    
    .footer-nav{
        padding: 45px 0px 0px 30px;
        text-shadow: 1px 1px 1px black;
        font-size: 20px;
    }
}

    @media (max-width:375px){

        .navbar{
            width: 375px;
            background-color: #4592af;
            box-shadow: 0px 0px 5px rgb(114, 114, 114);
        }
        
        .nav-link{
            color: #bbff00;
            font-size: 15px;
        }
        
        .navbar-brand{
            color: #bbff00;
            font-weight: 700;
            font-size: 15px;
        }
        
        header{
            background-image: url(../assets/img/fondo-rustico.png);
            background-color: white;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 50px);
            grid-template-rows: repeat(4, 25px);
            box-shadow: 0px 0px 5px rgb(114, 114, 114);
        }
        
        header h1{
            background-color: rgb(0, 0, 0);
            height: 2.8rem;
            width: 14.5rem;
            border-radius: 1rem;
            border-style: solid;
            border-color:#4592af; 
            box-shadow: 6px 5px 1px #4592af; 
            font-size: 30px;
            color: #bbff00;
            font-family: 'Michroma', sans-serif;
            display: grid;
            grid-column-start: 2;
            grid-row-start:2;
        }
        
        .carousel{
            box-shadow: 0px 0px 5px black;
            border:#000000;    
            padding: 1rem 1rem 1rem 1rem;
            background-color: #0c213f;
        }
        
        .quienes-somos{
            padding: 50px 130px 50px 20px;
            box-shadow: 0px 0px 5px rgb(0, 0, 0);
            background-image: url(../assets/img/fondo-rustico.png);
        }
        
        .accordion-body{
            font-size: 20px;
            font-family: 'Prompt', sans-serif;
            width: 280px;
            background-image: url(../assets/img/fondo-rustico.png);
        }
        
        .accordion-button{
            background-image: url(../assets/img/fondo-rustico.png);
            font-size: 15px;
            width: 280px;
            background-color: #4593af41;
            padding-left: 1rem;
            font-family: 'Prompt', sans-serif;
        }
        
        .footer-index{
            background-color: #4593af65;
            height: 150px;
            line-height: 0.7rem;
            font-size: 12px;
            font-weight: bold;
            display: flex;
        }
        
        .informacion-footer{
            padding: 30px 0px 0px 50px;
        }
        
        .footer-nav{
            padding: 30px 0px 0px 10px;
            text-shadow: 1px 1px 1px black;
            font-size: 20px;
        }
    
    }

@media (max-width:320px){

    .navbar{
        width: 320px;
        background-color: #4592af;
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }
    
    .nav-link{
        color: #bbff00;
        font-size: 15px;
    }
    
    .navbar-brand{
        color: #bbff00;
        font-weight: 700;
        font-size: 15px;
    }
    
    header{
        background-image: url(../assets/img/fondo-rustico.png);
        background-color: white;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(4, 25px);
        box-shadow: 0px 0px 5px rgb(114, 114, 114);
    }
    
    header h1{
        background-color: rgb(0, 0, 0);
        height: 2.8rem;
        width: 14.5rem;
        border-radius: 1rem;
        border-style: solid;
        border-color:#4592af; 
        box-shadow: 6px 5px 1px #4592af; 
        font-size: 30px;
        color: #bbff00;
        font-family: 'Michroma', sans-serif;
        display: grid;
        grid-column-start: 2;
        grid-row-start:2;
    }
    
    .carousel{
        box-shadow: 0px 0px 5px black;
        border:#000000;    
        padding: 1rem 1rem 1rem 1rem;
        background-color: #0c213f;
    }
    
    .quienes-somos{
        padding: 50px 130px 50px 20px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        background-image: url(../assets/img/fondo-rustico.png);
    }
    
    .accordion-body{
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        width: 280px;
        background-image: url(../assets/img/fondo-rustico.png);
    }
    
    .accordion-button{
        background-image: url(../assets/img/fondo-rustico.png);
        font-size: 15px;
        width: 280px;
        background-color: #4593af41;
        padding-left: 1rem;
        font-family: 'Prompt', sans-serif;
    }
    
    .footer-index{
        background-color: #4593af65;
        height: 150px;
        line-height: 0.7rem;
        font-size: 12px;
        font-weight: bold;
        display: flex;
    }
    
    .informacion-footer{
        padding: 30px 0px 0px 50px;
    }
    
    .footer-nav{
        padding: 30px 0px 0px 10px;
        text-shadow: 1px 1px 1px black;
        font-size: 20px;
    }

}

/* CONTACTANOS */


.body-contacto{
    background-image: url("../assets/img/fondo-planeta.png");
    background-repeat: no-repeat;
    height: 1000px;
}

.body-contacto h1{
    background-color:#4592af;
    height: 50px;
    text-align: center;
    display: grid;
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
}

.datos-contacto{
    height: 32rem;
    width: 800px;
    padding: 150px 0px 0px 0px;
    color:#DBFF00;
}

.mensaje-contacto{
    display: grid;
    grid-template-columns: repeat(12, 160px);
    grid-template-rows: repeat(9, 100px);
}

.mensaje-contacto form{
    grid-column-start: 6;
}

.aqui-nombre{

}
.aqui-mail{

}
.aqui-telefono{

}
.aqui-asunto{

}
.aqui-mensaje{

}

.navegacion-pages-contactanos{
    background-color: #4592af;
    height: 70px;
    text-decoration: none;
    text-align: center;
    word-spacing: 5rem;
    padding-top: 1rem;
}

.button-1-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-1-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-2-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-2-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-3-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-3-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

.button-4-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}

.button-4-contacto:hover{
    text-decoration: none;
    color: rgb(243, 178, 0);
}

/* NOSOTROS */

.nosotros-titulo{
    background-color: #4592af;
    height: 70px;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 20px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
}

.informacion-nosotros{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(24, 50px);
}

.informacion-nosotros h2{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 2;
    grid-column-start: 6;
}

.informacion-nosotros h3{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 4;
    grid-column-start: 6;
}

.herramientas-fotos{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(12, 70px);
}

.img-batea{
    grid-row-start: 5;
    grid-column-start: 3;
}

.img-estacion{
    grid-row-start: 5;
    grid-column-start: 10;
}

.img-estaño{
    grid-row-start: 12;
    grid-column-start: 10;
    padding-left: 50px;
}

.img-plancha{
    grid-row-start: 6;
    grid-column-start: 6;
    padding-left: 30px;
}

.img-pegamento{
    grid-row-start: 12;
    grid-column-start: 3;
    padding-left: 30px;
}

.img-fuente{
    grid-row-start: 12;
    grid-column-start: 6;
    padding-left: 50px;
}

.navegacion-pages-nosotros{
    background-color:#4592af;
    word-spacing: 5rem;
    text-align: center;
    height: 70px;
    padding-top: 1rem;
}

.button-1-inicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-1-inicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-2-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-2-contacto:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-3-servicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-3-servicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-4-galeria{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-4-galeria:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}

.titulo-batea{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: 8;
    grid-column-start: 3;
    padding: 30px 0px 100px 0px;
}
.titulo-estacion{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-estaño{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-plancha{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-pegamento{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-fuente{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}

/* SERVICIO TECNICO */

.header-servicio{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 50px);
}

.header-servicio h1{
    grid-row-start: 3;
}

.header-servicio h2{
    width: 500px;
    grid-row-start: 5;
    grid-column-start: 8;
    font-size: 25px;
}

.main-servicio{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(5, 40px);
}

.main-servicio h3{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h4{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h2{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.apple-icon{
    grid-column-start: 8;
    grid-row-start: 3;
}

.android-icon{
    grid-column-start: 12;
    grid-row-start: 3;
}

/* NOSOTROS */

.nosotros-titulo{
    box-shadow: 0px 10px 20px rgb(160, 160, 160);
}

.nosotros-titulo h1{
    font-size: 25px;
    font-style: normal;
    padding-top: 0.5rem;
    text-shadow: 2px 2px 2px black;
}

.nosotros-subtitulo{
    margin: 2rem 25rem 2rem 25rem;
    box-shadow: 1px 1px 5px rgb(153, 153, 153);
}

.nosotros-subtitulo:hover{
    box-shadow: 0px 0px 5px rgb(208, 255, 0);
}

.nosotros-subtitulo h2{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 5rem;
    padding: 15px 0px 0px 0px;
    background-color: #6d6d6d46;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.body-nosotros{
    display: grid;
    grid-template-columns: repeat(12, 600px);
    grid-template-rows: repeat(5, 100px);
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor .card{
    width: 300px;
    height: 440px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.212);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(70, 70, 70, 0.205);
}

.contenedor .card img{
    width: 300px;
    height: 250px;
}

.contenedor .card h4{
    font-weight: 600;
}

.contenedor .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.body-nosotros-2{
    display: grid;
    grid-template-columns: repeat(12, 600px);
    grid-template-rows: repeat(5, 100px);
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
    line-height: 1.6;
}
