*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Prompt:ital,wght@1,300&display=swap');

/*PÁGINA PRINCIPAL*/

body{
    background-color: rgb(234, 234, 234);
}
header{
    background-color: #4592af;
}
.navbar-brand{
    font-weight: 500;
}
.nav-link{
    color: #bbff00;
    font-weight: 400;
}
.title-index{
    background-color: #004c6b;
    height: 100px;
}
main h1{
    padding-top:0.5rem;
    color: #bbff00;
    text-align: center;
    font-size: 60px;
    font-family: 'Michroma', sans-serif;
}
.fondo-index{
    background-image: url("../assets/img/fondo-grande.png");
    background-position: center;
    color: black;
}
.fondo-index h2{
    line-height: 15rem;
    height: 10rem;
    font-weight: 1000;
    font-size: 60px;
    text-align: center;
    font-family: 'Play', sans-serif;
}
.fondo-index h3{
    line-height: 1rem;
    height: 10rem;
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
    font-family: 'Play', sans-serif;
}
.flex-mod{
    padding-top: 3.5rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-evenly;
}
.box-mod{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    width: 250px;
}
.box-mod img{
    height: 150px;
    width: 150px;
}
.flex-mensajeria{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.box-mensajeria{
    background-color: #004c6b;
    width: 20rem;
    height: 20rem;
    box-shadow: -10px -10px 1px #4592af;
}
.box-mensajeria-info{
    font-weight: 600;
    font-size: 20px;
    padding: 5rem 0rem 0rem 0rem;
    text-align: center;
    width: 20rem;
    height: 20rem;
}
.box-secure{
    box-shadow: -10px -10px 1px #4592af;
    background-color:#004c6b;
    width: 20rem;
    height: 20rem;
}
footer{
    background-color: #4592af;
}
.flex-footer{
    display: flex;
    justify-content: center;
}
.box-footer{
    padding-top: 1rem;
    font-weight: 600;
    text-align: center;
    justify-content: space-evenly;
    height: 150px;
    width: 500px;
}

@media (max-width:768px){
    body{
        background-color: rgb(234, 234, 234);
    }
    header{
        background-color: #4592af;
    }
    .navbar-brand{
        font-weight: 500;
    }
    .nav-link{
        color: #bbff00;
        font-weight: 400;
    }
    .title-index{
        background-color: #004c6b;
        height: 100px;
    }
    main h1{
        padding-top:1rem;
        color: #bbff00;
        text-align: center;
        font-size: 50px;
        font-family: 'Michroma', sans-serif;
    }
    .fondo-index{
        background-image: url("../assets/img/fondo-grande.png");
        background-position: center;
        color: black;
    }
    .fondo-index h2{
        line-height: 15rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 60px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .fondo-index h3{
        line-height: 1rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 40px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .flex-mod{
        padding-top: 3.5rem;
        background-color: rgb(228, 228, 228);
        display: flex;
        justify-content: space-evenly;
    }
    .box-mod{
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 250px;
        width: 250px;
    }
    .box-mod img{
        height: 150px;
        width: 150px;
    }
    .flex-mensajeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;    
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 15rem;
    }
    .box-mensajeria{
        background-color: #004c6b;
        width: 20rem;
        height: 20rem;
        box-shadow: -10px -10px 1px #4592af;
    }
    .box-mensajeria-info{
        font-weight: 600;
        font-size: 20px;
        padding: 5rem 0rem 0rem 0rem;
        text-align: center;
        width: 20rem;
        height: 20rem;
    }
    .box-secure{
        box-shadow: -10px -10px 1px #4592af;
        background-color:#004c6b;
        width: 20rem;
        height: 20rem;
    }
    footer{
        background-color: #4592af;
    }
    .flex-footer{
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-left: 10rem;
    }
    .box-footer{
        padding-top: 1rem;
        font-weight: 600;
        text-align: center;
        justify-content: space-evenly;
        height: 150px;
        width: 500px;
    }
}

@media (max-width:425px){
    body{
        background-color: rgb(234, 234, 234);
    }
    header{
        background-color: #4592af;
    }
    .navbar-brand{
        font-weight: 500;
    }
    .nav-link{
        color: #bbff00;
        font-weight: 400;
    }
    .title-index{
        background-color: #004c6b;
        height: 100px;
    }
    main h1{
        padding-top:1rem;
        color: #bbff00;
        text-align: center;
        font-size: 40px;
        font-family: 'Michroma', sans-serif;
    }
    .fondo-index{
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/fondo-grande.png");
        background-position: center;
        color: black;
    }
    .fondo-index h2{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 60px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .fondo-index h3{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 40px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .flex-mod{
        padding-top: 2rem;
        background-color: rgb(228, 228, 228);
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
    }
    .box-mod{
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        height: 250px;
        width: 250px;
    }
    .box-mod img{
        height: 150px;
        width: 150px;
    }
    .flex-mensajeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;    
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
    }
    .box-mensajeria{
        background-color: #004c6b;
        width: 20rem;
        height: 20rem;
        box-shadow: -10px -10px 1px #4592af;
    }
    .box-mensajeria-info{
        font-weight: 600;
        font-size: 20px;
        padding: 5rem 0rem 0rem 0rem;
        text-align: center;
        width: 20rem;
        height: 20rem;
    }
    .box-secure{
        box-shadow: -10px -10px 1px #4592af;
        background-color:#004c6b;
        width: 20rem;
        height: 20rem;
    }
    footer{
        background-color: #4592af;
    }
    .flex-footer{
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }
    .box-footer{
        padding-top: 1rem;
        font-weight: 600;
        text-align: center;
        justify-content: space-evenly;
        height: 150px;
        width: 100%;
    }
}
@media (max-width:375px){
    body{
        background-color: rgb(234, 234, 234);
    }
    header{
        background-color: #4592af;
    }
    .navbar-brand{
        font-weight: 500;
    }
    .nav-link{
        color: #bbff00;
        font-weight: 400;
    }
    .title-index{
        background-color: #004c6b;
        height: 100px;
    }
    main h1{
        padding-top:1rem;
        color: #bbff00;
        text-align: center;
        font-size: 40px;
        font-family: 'Michroma', sans-serif;
    }
    .fondo-index{
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/fondo-grande.png");
        background-position: center;
        color: black;
    }
    .fondo-index h2{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 60px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .fondo-index h3{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 40px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .flex-mod{
        padding-top: 2rem;
        background-color: rgb(228, 228, 228);
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
    }
    .box-mod{
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        height: 250px;
        width: 250px;
    }
    .box-mod img{
        height: 150px;
        width: 150px;
    }
    .flex-mensajeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;    
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }
    .box-mensajeria{
        background-color: #004c6b;
        width: 20rem;
        height: 20rem;
        box-shadow: -10px -10px 1px #4592af;
    }
    .box-mensajeria-info{
        font-weight: 600;
        font-size: 20px;
        padding: 5rem 0rem 0rem 0rem;
        text-align: center;
        width: 20rem;
        height: 20rem;
    }
    .box-secure{
        box-shadow: -10px -10px 1px #4592af;
        background-color:#004c6b;
        width: 20rem;
        height: 20rem;
    }
    footer{
        background-color: #4592af;
    }
    .flex-footer{
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }
    .box-footer{
        padding-top: 1rem;
        font-weight: 600;
        text-align: center;
        justify-content: space-evenly;
        height: 150px;
        width: 100%;
    }
}
@media (max-width:320px){
    body{
        background-color: rgb(234, 234, 234);
    }
    header{
        background-color: #4592af;
    }
    .navbar-brand{
        font-weight: 500;
    }
    .nav-link{
        color: #bbff00;
        font-weight: 400;
    }
    .title-index{
        background-color: #004c6b;
        height: 100px;
    }
    main h1{
        padding-top:1rem;
        color: #bbff00;
        text-align: center;
        font-size: 40px;
        font-family: 'Michroma', sans-serif;
    }
    .fondo-index{
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/fondo-grande.png");
        background-position: center;
        color: black;
    }
    .fondo-index h2{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 60px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .fondo-index h3{
        line-height: 5rem;
        height: 10rem;
        font-weight: 1000;
        font-size: 40px;
        text-align: center;
        font-family: 'Play', sans-serif;
    }
    .flex-mod{
        padding-top: 2rem;
        background-color: rgb(228, 228, 228);
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
    }
    .box-mod{
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        height: 250px;
        width: 250px;
    }
    .box-mod img{
        height: 150px;
        width: 150px;
    }
    .flex-mensajeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;    
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
    .box-mensajeria{
        width: 18rem;
        height: 18rem;
        box-shadow: -10px -10px 1px #4592af;
    }
    .box-mensajeria-info{
        font-weight: 600;
        font-size: 20px;
        padding: 5rem 0rem 0rem 0rem;
        text-align: center;
        width: 18rem;
        height: 18rem;
    }
    .box-secure{
        box-shadow: -10px -10px 1px #4592af;
        width: 18rem;
        height: 18rem;
    }
    footer{
        background-color: #4592af;
    }
    .flex-footer{
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-left: 0rem;
    }
    .box-footer{
        padding-top: 1rem;
        font-weight: 600;
        text-align: center;
        justify-content: space-evenly;
        height: 150px;
        width: 100%;
    }
}




/* CONTACTANOS */





.body-contacto{
    background-image: url("../assets/img/fondo-planeta.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.body-contacto h1{
    background-color:#4592af;
    height: 50px;
    text-align: center;
    display: grid;
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
    padding-top: 4px;
}
.btn{
    background-color:#4592af;
}
.datos-contacto{
    padding: 200px 500px 200px 500px;
}
.form-label{
    color: #bbff00;
}
.form-check-label{
    color: #bbff00;
}

@media (max-width:1440px){
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color:#4592af;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 25px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        padding-top: 8px;
    } 
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 60px 200px 60px 200px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}

@media (max-width:768px){
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color:#4592af;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 25px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        padding-top: 8px;
    } 
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 60px 60px 60px 60px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}

@media (max-width:425px){
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color:#4592af;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 20px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        padding-top: 10px;
    } 
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 30px 10px 30px 10px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}

@media (max-width:375px){
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color:#4592af;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 20px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        padding-top: 10px;
    } 
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 30px 10px 30px 10px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}

@media (max-width:320px){   
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color:#4592af;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 20px;
        text-shadow: 3px 3px 1px black;
        color: #DBFF00;
        font-style: italic;
        font-family: 'Michroma', sans-serif;
        padding-top: 10px;
    } 
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 30px 10px 30px 10px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}





/* NOSOTROS */





.nosotros-titulo{
    background-color: #4592af;
    height: 70px;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 20px;
    text-shadow: 3px 3px 1px black;
    color: #DBFF00;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
}

.informacion-nosotros{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(24, 50px);
}

.informacion-nosotros h2{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 2;
    grid-column-start: 6;
}

.informacion-nosotros h3{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 900px;
    grid-row-start: 4;
    grid-column-start: 6;
}

.herramientas-fotos{
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(12, 70px);
}

.img-batea{
    grid-row-start: 5;
    grid-column-start: 3;
}

.img-estacion{
    grid-row-start: 5;
    grid-column-start: 10;
}

.img-estaño{
    grid-row-start: 12;
    grid-column-start: 10;
    padding-left: 50px;
}

.img-plancha{
    grid-row-start: 6;
    grid-column-start: 6;
    padding-left: 30px;
}

.img-pegamento{
    grid-row-start: 12;
    grid-column-start: 3;
    padding-left: 30px;
}

.img-fuente{
    grid-row-start: 12;
    grid-column-start: 6;
    padding-left: 50px;
}

.navegacion-pages-nosotros{
    background-color:#4592af;
    word-spacing: 5rem;
    text-align: center;
    height: 70px;
    padding-top: 1rem;
}

.button-1-inicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-1-inicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-2-contacto{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-2-contacto:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-3-servicio{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-3-servicio:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}
.button-4-galeria{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #bbff00;
    text-shadow: 2px 2px 1px black;
}
.button-4-galeria:hover{
    color: rgb(243, 178, 0);
    font-size: 25px;
}

.titulo-batea{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: 8;
    grid-column-start: 3;
    padding: 30px 0px 100px 0px;
}
.titulo-estacion{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-estaño{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-plancha{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-pegamento{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}
.titulo-fuente{
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-row-start: ;
    grid-column-start: ;
}


/* SERVICIO TECNICO */

.header-servicio{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 50px);
}

.header-servicio h1{
    grid-row-start: 3;
}

.header-servicio h2{
    width: 500px;
    grid-row-start: 5;
    grid-column-start: 8;
    font-size: 25px;
}

.main-servicio{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(5, 40px);
}

.main-servicio h3{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h4{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.main-servicio h2{
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 14;
}

.apple-icon{
    grid-column-start: 8;
    grid-row-start: 3;
}

.android-icon{
    grid-column-start: 12;
    grid-row-start: 3;
}

/* NOSOTROS */

.nosotros-titulo{
    box-shadow: 0px 10px 20px rgb(160, 160, 160);
}

.nosotros-titulo h1{
    font-size: 25px;
    font-style: normal;
    padding-top: 0.5rem;
    text-shadow: 2px 2px 2px black;
}

.nosotros-subtitulo{
    margin: 2rem 25rem 2rem 25rem;
    box-shadow: 1px 1px 5px rgb(153, 153, 153);
}

.nosotros-subtitulo:hover{
    box-shadow: 0px 0px 5px rgb(208, 255, 0);
}

.nosotros-subtitulo h2{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 5rem;
    padding: 15px 0px 0px 0px;
    background-color: #6d6d6d46;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.body-nosotros{
    display: grid;
    grid-template-columns: repeat(12, 600px);
    grid-template-rows: repeat(5, 100px);
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor .card{
    width: 300px;
    height: 440px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.212);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(70, 70, 70, 0.205);
}

.contenedor .card img{
    width: 300px;
    height: 250px;
}

.contenedor .card h4{
    font-weight: 600;
}

.contenedor .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.body-nosotros-2{
    display: grid;
    grid-template-columns: repeat(12, 600px);
    grid-template-rows: repeat(5, 100px);
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
    line-height: 1.6;
}
