@media (max-width:1440px){
    .body-contacto{
        background-image: url("../assets/img/fondo-planeta.png");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    } 
    .body-contacto h1{
        background-color: transparent;
        text-shadow: 1px 1px 1px black;
        height: 50px;
        text-align: center;
        display: grid;
        font-size: 40px;
        font-weight: 600;
        color: #DBFF00;
        font-family: 'Michroma', sans-serif;
        padding-top: 50px;
    } 
    .form h5{
      color: #DBFF00;
      padding-left: 16.5rem;
    }
    .form h4{
        color: #DBFF00;
        padding-left: 24rem;
    }
    .form__container{
      padding-left: 19rem;
      height: 200px;
      padding-bottom: 40rem;
    }
    .form__input{  
      border-style: solid;
      font-family: 'Play', sans-serif;
      width: 800px;
      margin: 1rem;
      height: 3rem;
      border-radius: 10px;
    }
    .form__cta{
      font-family: 'Play', sans-serif;
    }
  
    .btn{
        background-color:#4592af;
    }
    .datos-contacto{
        padding: 60px 200px 60px 200px;
    }
    .form-label{
        color: #bbff00;
    }
    .form-check-label{
        color: #bbff00;
    }
}

@media (max-width:1440px){   
    .body-servicio{
    max-width: 1440px;
    background-color: #4593af3a;
    }
    .header-servicio h3{
        padding-top: 0.5rem;
        color: #bbff00;
        text-align: center;
        font-size: 30px;
        font-family: 'Michroma', sans-serif;
    }
    .header-servicio p{
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Play', sans-serif;
    }
    .main-servicio{
        background-image: url("../assets/img/fondo-servicio-info.png");
        background-position: center;
        font-family: 'Play', sans-serif;
        font-size: 20px;
        text-align: center;
    }
    .flex-servicio{
        display: flex;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .servicio-box{ 
        height: 400px;
        width: 300px;
        margin: 1rem 0rem 1rem 18rem;
        box-shadow: 0px 0px 5px rgb(151, 151, 151);
    }
    .servicio-box:hover{ 
      height: 400px;
      width: 300px;
      margin: 1rem 0rem 1rem 18rem;
      box-shadow: 0px 0px 10px rgba(33, 33, 33, 0.397);
  }
}


@media (max-width:1440px){   
  .fondo-body-nosotros{
    background-color: white;
}
.nosotros-subtitulo-sec{
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/fondo-h1-3.png");
    background-position: center;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.nosotros-subtitulo{
  padding-top: 5rem;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}
.nosotros-subtitulo h5{
  font-size: 50px;
}
.nosotros-subtitulo h5:hover{
    font-size: 50px;
    color: rgb(255, 111, 0);
    font-family: 'Rajdhani', sans-serif;
}
.nosotros-subtitulo p{
    text-align: center;
    width: 50%;
    margin-left: 23rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nosotros-subtitulo h4{
  padding-top: 1rem;
  color: rgb(0, 0, 0);
}
.section-curso{
  padding-top: 0rem;
}
.section-curso p{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    background-color: rgba(157, 255, 0, 0.275);
    border-radius: 10rem;
}
.curso-2023{
  background-image: url("../assets/img/fondo-curso.png");
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.curso-1 h4{
padding-top: 6rem;
font-size: 70px;
color: white;
font-family: 'Rajdhani', sans-serif;
text-shadow: 2px 2px 1px  rgb(255, 145, 0);
}
.curso-2 h4{
  padding-top: 6rem;
  font-size: 70px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 2px 2px 1px  rgb(255, 145, 0);
}
.intro-crono h3{
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgba(157, 255, 0, 0.275);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10rem;
}
.info-curso{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.info-curso h4{
  font-size: 25px;
  background-color: rgba(1, 183, 255, 0.349);
  border-radius: 10rem;
  font-family: 'Rajdhani', sans-serif;
}
.iphone-desarmado{
  padding-top: 6rem;
  padding-left: 1rem;
}
.info-curso-p{
  padding-top: 3rem;
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.cronograma-curso{
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 10rem;
}
.box-cronograma{
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}
.cronograma-curso h3{
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  text-align: center;
  background-color: rgba(1, 183, 255, 0.349);
  border-radius: 10rem;
}
.box-cronograma h4{
  background-color: rgba(157, 255, 0, 0.275);
  text-align: center;
  border-radius: 10rem;
  font-weight: 600;
}
.tools-curso{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tools-curso h5{
  text-align: center;
  font-size: 25px;
}
}

@media (max-width:1440px){   
.body-galeria{
  background-color: white;
}
  .titulo-galeria{
  background-color: rgba(157, 255, 0, 0.179);
  border-radius: 10rem;
  }
  .titulo-galeria h1{
  padding-top: 0.5rem;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}
.main-galeria{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 16rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
}