.body-galeria{
    background-image: linear-gradient(to right top, #96d3f9, #b3d9fc, #cbe0fe, #dfe8fe, #eff1fe, #eceefe, #e9ebff, #e6e8ff, #cdd9ff, #adcbff, #83bfff, #3fb4ff);
    background-repeat: no-repeat;
}
    .titulo-galeria h1{
    background-image: linear-gradient(to right top, #000000, #060606, #0b0b0b, #101010, #141414);
    padding-top: 0.5rem;
    height: 50px;
    color: #bbff00;
    text-align: center;
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    text-shadow: 1px 1px 1px rgb(255, 183, 0);
}
