.body-galeria{
    background-color: white;
}
    .titulo-galeria{
    background-color: rgba(157, 255, 0, 0.179);
    border-radius: 10rem;
    }
    .titulo-galeria h1{
    padding-top: 0.5rem;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
}
.main-galeria{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 32rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.whatsapp-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    animation: bounce 1s infinite alternate;
}

.whatsapp-btn i {
    font-size: 30px;
    color: #fff;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

@keyframes bounce {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-10px);
    }
}
