.body-galeria{
    background-color: white;
}
    .titulo-galeria{
    background-color: rgba(157, 255, 0, 0.179);
    border-radius: 10rem;
    }
    .titulo-galeria h1{
    padding-top: 0.5rem;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
}
.main-galeria{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 32rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
