
.fondo-body-nosotros{
    background-color: white;
}
.whatsapp-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  animation: bounce 1s infinite alternate;
}

.whatsapp-btn i {
  font-size: 30px;
  color: #fff;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.nosotros-subtitulo-sec{
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/fondo-h1-3.png");
    background-position: center;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.nosotros-subtitulo{
  padding-top: 5rem;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}
.nosotros-subtitulo h5{
  font-size: 50px;
}
.nosotros-subtitulo h5:hover{
    font-size: 50px;
    color: rgb(255, 111, 0);
    font-family: 'Rajdhani', sans-serif;
}
.nosotros-subtitulo p{
    text-align: center;
    width: 50%;
    margin-left: 30rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nosotros-subtitulo h4{
  padding-top: 1rem;
  color: rgb(0, 0, 0);
}
.section-curso{
  padding-top: 0rem;
}
.section-curso p{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    background-color: rgba(157, 255, 0, 0.275);
    border-radius: 10rem;
}
.curso-2023{
  background-image: url("../assets/img/fondo-curso.png");
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.curso-1 h4{
padding-top: 6rem;
font-size: 70px;
color: white;
font-family: 'Rajdhani', sans-serif;
text-shadow: 2px 2px 1px  rgb(255, 145, 0);
}
.curso-2 h4{
  padding-top: 6rem;
  font-size: 70px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 2px 2px 1px  rgb(255, 145, 0);
}
.intro-crono h3{
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgba(157, 255, 0, 0.275);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10rem;
}
.info-curso{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.info-curso h4{
  font-size: 25px;
  background-color: rgba(1, 183, 255, 0.349);
  border-radius: 10rem;
  font-family: 'Rajdhani', sans-serif;
}
.iphone-desarmado{
  padding-top: 6rem;
  padding-left: 1rem;
}
.info-curso-p{
  padding-top: 3rem;
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.cronograma-curso{
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 10rem;
}
.box-cronograma{
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}
.cronograma-curso h3{
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  text-align: center;
  background-color: rgba(1, 183, 255, 0.349);
  border-radius: 10rem;
}
.box-cronograma h4{
  background-color: rgba(157, 255, 0, 0.275);
  text-align: center;
  border-radius: 10rem;
  font-weight: 600;
}
.tools-curso{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tools-curso h5{
  text-align: center;
  font-size: 25px;
}
